<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Desarrollos Inmobiliarios Ocaranza</title>
    <link rel="stylesheet" href="../css/style.css">
    <link rel="icon" href="../img/house_603029.png" type="image/x-icon">
</head>
<body>
    <header>
        <div>
            <h1>Desarrollos Inmobiliarios Ocaranza</h1>
            <p>Encontrá con nosotros tu hogar</p>
        </div>
    </header>
    <!--barra de navegacion-->
    <nav class="navbar">
        <a href="../../index.html">INICIO</a>
        <a href="casas.html">CASAS</a>
        <a href="alquiler.html">ALQUILERES</a>
        <a href="contacto.html">CONTACTO</a>
    </nav>
    <main>
        <<article class="foto1">
            <img src="../img/Alquiler Pompeya/3432313978.jpg" alt="">
            <img src="../img/Alquiler Pompeya/3432313982.jpg" alt="">
            <img src="../img/Alquiler Pompeya/3432313984.jpg" alt="">
        </article>
        <h2>ALQUILER EN BARRIO POMPEYA, DEPARTAMENTO DE 2 AMBIENTES!<h2>
            <h3>Ubicado sobre calle Tarija - Merlo. A 6 cuadras de Avenida Ricardo Balbin.</h3>
            <h2>Descripción:</h2>
            <li>1 Dormitorio</li>
            <li>Baño</li>
            <li>Cocina comedor/li>
            <li>Cuarto Guardautiles.</li>
            <h3>valor mensual: $210.000</h3>
        <br>
        <hr>
        <br>
        <article class="foto">
            <img src="../img/Alquiler Garcia Velloso/3442104840.jpg" alt="">
        </article>
        <h2>ALQUILER DE DEPARTAMENTO EN AGUSTIN FERRARI, MERLO</h2>
            <h3>Departamento de 3 hambientes ubicado a 100mts de Av. Ricardo Balbín en Barrio Policial</h3>
            <h2>Descripción:</h2>
            <li>2 dormitorios</li>
            <li>Baño</li>
            <li>Cocina</li>
            <li>Living comedor/li>
            <li>Lavadero</li>
            <li>Patio</li>
            <h3>Valor mensual:$230.000</h3>
    </main>
    
    <footer>
        <p>&copy; Jorge García, Potrero Digital 2024</p>
    </footer>
</body>
</html>