<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Desarrollos Inmobiliarios Ocaranza</title>
    <link rel="stylesheet" href="../css/style.css">
    <link rel="icon" href="../img/house_603029.png" type="image/x-icon">
</head>
<body>
    <!--header-->
    <header>
        <div>
            <h1>Desarrollos Inmobiliarios Ocaranza</h1>
            <p>Encontrá con nosotros tu hogar</p>
        </div>
    </header>
    <!--barra de navegacion-->
    <nav class="navbar">
        <a href="../../index.html">INICIO</a>
        <a href="casas.html">CASAS</a>
        <a href="alquiler.html">ALQUILERES</a>
        <a href="contacto.html">CONTACTO</a>
    </nav>
    <form action="">
        <fieldset>
        <legend>Formulario de contacto</legend>
        <label for="name">Nombre</label>
        <input type="text" name="name" id="name"
        placeholder="Nombre" required>
        <label for="Lname">Apellido</label>
        <input type="text" name="Lname" id="Lname"
        placeholder="Apellido" required>
        <label for="Email">Email</label>
        <input type="text" name="Email" id="Email"
        placeholder="ejemplo@ejemplo.com">
        <label for="date">Fecha de nacimiento</label>
        <input type="date" name="date" id="date">
        <label for="comment">Deja tu comentario:</label>
        <textarea name="comment" id="comment"></textarea>
        <input type="submit" value="Enviar">
        <input type="reset" value="Borrar">
        </fieldset>
        
    </form>
    <!--footer-->
    <footer>
        <p>&copy; Jorge García, Potrero Digital 2024</p>
    </footer>
</body>
</html>